Source: meilix-artwork
Section: x11
Priority: extra
Maintainer: Mario Behling <mb@mariobehling.de>
Build-Depends: debhelper (>= 8.0.0), python(>=2.6)
Standards-Version: 3.9.2
Homepage: http://mbm.vn

Package: plymouth-theme-meilix-logo
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Description: Plymouth theme meilix.

Package: plymouth-theme-meilix-text
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label, plymouth-theme-ubuntu-text
Description: Plymouth theme meilix.
