Source: meilix-artwork
Section: x11
Priority: optional
Maintainer: Mario Behling <mb@mariobehling.de>
Build-Depends: debhelper (>= 9.0.0), python(>=2.6)
Standards-Version: 4.2.1
Homepage: http://mbm.vn

Package: plymouth-theme-meilix-logo
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Description: graphical boot animation and logger - meilix-logo theme
 This package contains the default meilix-logo theme.

Package: plymouth-theme-meilix-logo-2
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Description: graphical boot animation and logger - meilix-logo-2 theme
 This package contains the new meilix-logo-2 theme.

Package: plymouth-theme-meilix-text
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Description: graphical boot animation and logger - meilix-text theme
 This package contains the default meilix-text theme used when no support for
 a graphical theme is found on your system.
